/* Type */
/* .post h2 {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.025em;
} */

.post p, .post ol, .post ul  {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 25px;
}

.post img {
  margin-bottom: 25px;
}
.post li {
  margin-bottom: 25px;
}

.post .featured-image {
  position: relative;
}

.post a.click-post{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.post .featured-image h2 {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

/* Post */
.post {
  border-top: 1px solid #cacaca;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow-x: hidden;
  position: relative;
}

.post div[class*="lock"]{
  padding-top: 0;
  padding-bottom: 0;
}

.post.no-border {
  overflow: visible;
}

.post:last-child {
  border-bottom: 1px solid #cacaca;
}


.post .featured-image {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.post .featured-image .screen {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms ease-in-out;
}

.post .featured-image:hover .screen {
  background-color: rgba(0, 0, 0, 0.5);
}

[data-view="list"] .post .featured-image::before {
  content: "";
  background-image: url(images/icons/read-more-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out, opacity 200ms ease-in-out;
}

[data-view="list"] .post .featured-image:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

[data-view="list"] .post .featured-image h2 {
  transition: transform 250ms ease-in-out;
}

[data-view="list"] .post .featured-image:hover h2 {
  transform: translateY(175%);
}


[data-view="grid"] .post .featured-image::before {
  content: "";
  background-image: url(images/icons/read-more-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 30px;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transform: translateY(250px);
  transition: transform 250ms ease-in-out, opacity 200ms ease-in-out;
}

[data-view="grid"] .post .featured-image:hover::before {
  transform: translateY(165px);
  opacity: 1;
}

[data-view="grid"] .post .featured-image h2 {
  transition: transform 275ms ease-in-out;
}

[data-view="grid"] .post .featured-image:hover h2 {
  transform: translateY(-50px);
}



#posts[data-view="list"] .post .featured-image,
#posts[data-view="list"] .post .text-wrapper {
  display: inline-block;
  vertical-align: top;
}

#posts[data-view="list"] .post .featured-image {
  width: 250px;
}

#posts[data-view="list"] .post .text-wrapper {
  width: calc(100% - 255px);
  padding-left: 20px;
}

@media (max-width: 960px) {

  #posts[data-view="list"] .post .featured-image,
  #posts[data-view="list"] .post .text-wrapper {
    width: 100%;
  }

  #posts[data-view="list"] .post .text-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

}

#posts[data-view="grid"] .post {
  background-color: #ffffff;
}

.post .featured-image .overlay {
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  display: none;
}

.post .title-block a:hover {
  text-decoration: underline;
}

.post-actions {
  font-size: 0;
}

.post-actions:after {
  content: "";
  display: table;
  clear: both;
}

.post-actions .cell.read-more {
  float: left;
  vertical-align: middle;
  line-height: 25px;
  font-size: 15px;
  letter-spacing: 2px;
  position: absolute;
}

.post-actions .cell.read-more a:hover {
  text-decoration: underline;
  color: #3d9576;
}

.post-actions .cell.social {
  float: right;
}

#posts[data-view="list"] .post:hover .share-button::before {
  background-color: #fafafa;
}

.post a.slide-in {
  transform: translateX(200px);
  transition: transform 275ms ease-in-out, opacity 430ms ease-out;
}

.post a.slide-in.active {
  pointer-events: auto;
  transform: translateX(65px);
  opacity: 1.0;
}

#posts[data-view="list"] .post .social a.slide-in {
  opacity: 1;
  transform: translateX(0);
}

#posts[data-view="list"] .share-button {
  display: none;
}

#posts[data-view="list"] .post-actions .cell.social {
  padding-right: 0px;
}

#posts[data-view="list"] .post {
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
}

#posts[data-view="list"] .post:hover {
   background-color: #fafafa;
}

#posts[data-view="list"] .post:hover .featured-image::before {
  transform: translateY(-50%);
  opacity: 1;
}

#posts[data-view="list"] .post:hover .screen {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width:960px) {

  #posts[data-view="list"] .post .featured-image {
    margin-bottom: 0;
  }

}

@media (max-width: 960px) {

  .post .social a.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

  .post-actions .cell.social {
    padding-right: 0px;
  }

}

@media (min-width: 960px) {

  #posts[data-view="grid"] {
    margin-left: -12px;
    margin-right: -12px;
  }

  #posts[data-view="grid"] .post {
    width: calc(50% - 24px);
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  #posts[data-view="grid"] .post {
    margin-bottom: 24px;
    border-right: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }

  #posts[data-view="grid"] .post .featured-image,
  #posts[data-view="grid"] .post .text-wrapper {
    display: block;
  }

  #posts[data-view="grid"] .featured-image .overlay {
    display: block;
  }

  #posts[data-view="grid"] .post .text-wrapper {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #posts[data-view="grid"] .title-block {
    display: none;
  }

  #posts[data-view="grid"] .excerpt {
    height: 75px;
    overflow: hidden;
  }

}

@media (min-width: 1220px) {

  #posts[data-view="grid"] {
    margin-left: -12px;
    margin-right: -12px;
  }

  #posts[data-view="grid"] .post {
    width: calc(33.3333% - 24px);
  }

}

.author-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.social-bar {
  position: absolute;
  top: 8px;
  left: 25px;
}

.social-bar p{
  display: none;

}

@media(min-width: 800px) {
  .social-bar p {
    margin-top: -6px;
    display: block;
  }
}

.social-bar a {
  display: block;
  margin: 0 auto 10px;
  line-height: 0;
  width: 36px;
  height: 36px;
  background-size: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}
.social a,
.social button,
.inline-social a,
blockquote a {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  background-size: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

.social a {
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-right: 10px;
}

.social button {
  width: 90px;
  height: 26px;
  position: relative;
  background-size: 24px;
  background-position: 0px 0px;
  background-color: #ffffff;
  right: -70px;
  bottom: 3px;
}

#posts[data-view="list"] .share-button {
  right: 60px;
}


blockquote {
  position: relative;
  color: #45b288;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  padding: 55px 160px 30px;
  margin: 40px 0;
  line-height: 36px;
  letter-spacing: 0.05em;
}

blockquote::before {
  content: "";
  position: absolute;
  background-image: url(images/icons/quotation-opening.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 68px;
  height: 65px;
  top: 20px;
  left: 0;
  opacity: 0.5;
}

blockquote::after {
  content: "";
  position: absolute;
  background-image: url(images/icons/quotation-closing.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 68px;
  height: 65px;
  bottom: 20px;
  right: 0;
  opacity: 0.5;
}

@media (max-width: 960px) {
  blockquote {
    padding: 35px 70px 8px;
  }

  blockquote::before,
  blockquote::after {
    width: 48px;
    height: 45px;
  }
}

@media (max-width: 700px) {
  blockquote {
    padding: 35px 55px;
  }

  blockquote::before,
  blockquote::after {
    width: 38px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  blockquote {
    padding: 35px 35px 8px;
  }

  blockquote::before,
  blockquote::after {
    width: 28px;
    height: 25px;
  }
}

blockquote a {
  margin-right: 0;
}

.social-bar a:hover,
.inline-social a:hover {
  background-color: #45b288;
}

.social-cta-button.facebook-green-icon {
  background-image: url(images/icons/facebook-green-icon.svg);
}

.social-cta-button.twitter-green-icon {
  background-image: url(images/icons/twitter-green-icon.svg);
}

.social-cta-button.linkedin-green-icon {
  background-image: url(images/icons/linkedin-green-icon.svg);
}

.social-cta-button.email-green-icon {
  background-image: url(images/icons/email-green-icon.svg);
}

.social-cta-button.facebook-green-icon:hover {
  background-image: url(images/icons/facebook-white-icon.svg);
}

.social-cta-button.twitter-green-icon:hover {
  background-image: url(images/icons/twitter-white-icon.svg);
}

.social-cta-button.linkedin-green-icon:hover {
  background-image: url(images/icons/linkedin-white-icon.svg);
}

.social-cta-button.email-green-icon:hover {
  background-image: url(images/icons/email-white-icon.svg);
}

.social .social-cta-button.facebook-green-icon:hover ,
blockquote .social-cta-button.facebook-green-icon:hover {
  background-image: url(images/icons/facebook-dark-green-icon.svg);
}

.social .social-cta-button.twitter-green-icon:hover,
blockquote .social-cta-button.twitter-green-icon:hover {
  background-image: url(images/icons/twitter-dark-green-icon.svg);
}

.social .social-cta-button.linkedin-green-icon:hover,
blockquote .social-cta-button.linkedin-green-icon:hover {
  background-image: url(images/icons/linkedin-dark-green-icon.svg);
}

.social .social-cta-button.email-green-icon:hover,
blockquote .social-cta-button.email-green-icon:hover {
  background-image: url(images/icons/email-dark-green-icon.svg);
}

.social .share-green-icon {
  background-image: url(images/icons/share-green-icon.svg);
}

@media (max-width: 800px) {
  .social-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
  }

  .social-bar a {
    float: left;
    width: 25%;
    height: 50px;
    margin: 0;
    background-color: #fff;
    background-size: 30px 30px;
    text-align: center;
  }

  .social-bar .border {
    border: none;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
  }

  .social-bar a:last-child {
    border-right: none;
  }
}

.about-author {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-author .author-image {
  float: left;
  width: 125px;
  margin-right: 30px;
}

.about-author .text-area {
  float: left;
  width: calc(100% - 155px);
}

.about-author:after{
  content: "";
  clear: both;
  display: table;
}

#related-posts {
  background-color: #fafafa;
}

@media (max-width: 900px) {
  .about-author .author-image,
  .about-author .text-area {
    float: none;
    text-align: center;
  }

  .about-author .author-image {
    margin: 0 auto 10px;
  }

  .about-author .text-area {
    width: 100%;
  }

  #related-posts {
    background-color: transparent;
  }
}
