@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

/*
 * -----
 * Reset
 * -----
 */
*:focus { outline: none; }
*, *::before, *::after {
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: inherit;
  font-style: inherit;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

body, p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

p, ol, ul, h2, h3, h4, h5, h6{
  color: #7c7c7c;
}

img,
nav,
main,
aside,
label,
header,
footer,
article,
section,
textarea {
  display: block;
}

hr {
  height: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

sup,
sub {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 83.33%;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: 100%;
  max-width: 100%;
  border: none;
}

audio,
video,
canvas {
  display: block;
  width: 100%;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

button,
input[type="button"],
input[type="submit"] {
  border: none;
  background-color: transparent;
  text-transform: inherit;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

main {
  position: relative;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,
dl, dt, ol, ul, li,
aside, address, blockquote,
hr, nav, output, p, pre, table,
form, fieldset, figure, figcaption,
img, video, audio, canvas {

}


input[type="submit"],
button[type="submit"] {
  cursor: pointer;
}

/*
 * List Styles
 */

ul, ol {
  list-style-position: inside;
  padding-left: 20px;
}

li {
  list-style-position: outside;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 20px;
  text-indent: -16px;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  text-align: right;
  content: counter(item) ".";
}

ol.bold > li:before {
  font-weight: bold;
}

/*
 * Lock
 */

 .lock {
   position: relative;
   overflow: hidden;
   max-width: 1600px;
   padding-bottom: 30px;
   padding-left: 7%;
   padding-right: 7%;
   margin: 0 auto;
 }

 section[class*="background"] .lock {
  padding-top: 30px;
  padding-bottom: 30px;
 }

 @media (min-width: 640px) {

  .lock {
    padding-bottom: 40px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  section[class*="background"] .lock {
   padding-top: 40px;
   padding-bottom: 40px;
  }

}

@media (min-width: 960px) {

  .lock {
    padding-bottom: 50px;
    padding-left: 8.3%;
    padding-right: 8.3%;
  }

  section[class*="background"] .lock {
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

@media (min-width: 1400px) {

  .lock {
    padding-bottom: 80px;
    padding-left: 116.6px;
    padding-right: 116.6px;
  }

}

/*
 * Typography
 */

.x-large {
  font-size: 36px;
  line-height: 46px;
}

.large {
  font-size: 28px;
  line-height: 38px;
}

.medium{
  font-size: 18px;
  line-height: 24px;
}

.small{
  font-size: 16px;
  line-height: 24px;
}

.x-small {
  font-size: 14px;
  line-height: 22px;
}

.xx-small {
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 480px) {

  .medium {
    font-size: 20px;
    line-height: 26px;
  }

}

@media (min-width: 900px) {

  .x-large {
    font-size: 50px;
    line-height: 66px;
  }

  .large {
    font-size: 40px;
  }

  .medium {
    font-size: 24px;
    line-height: 32px;
  }

}

.tight-letter-spacing {
  letter-spacing: -1px !important;
}

.mild-letter-spacing {
  letter-spacing: 1px !important;
}

.loose-letter-spacing {
  letter-spacing: 2px !important;
}

.italic, em {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.bold, strong {
  font-weight: 700;
}

.no-letter-spacing {
  letter-spacing: normal;
}

/*
 * General Utilities
 */

.narrow-940 {
  max-width: 940px;
}

.narrow-1000 {
  max-width: 1000px;
}

.narrow-1100 {
  max-width: 1100px;
}

.align-center {
  text-align: center;
}
.layout-center {
  margin: 0 auto;
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-image p {
  color: #f5f5f5;
}

.xx-large-margin {
  margin-bottom: 60px;
}

.x-large-margin {
  margin-bottom: 50px;
}

.large-margin {
  margin-bottom: 40px;
}

.medium-margin {
  margin-bottom: 30px;
}

.small-margin {
  margin-bottom: 20px;
}

.x-small-margin {
  margin-bottom: 10px;
}

.black {
   color: #000000;
}

.grey {
  color: #787878;
}

.lighter-grey {
  color: #b2b2b2;
}

.green {
  color: #45b288;
}

.white {
  color: #ffffff;
}

a.white:visted {
  color: #ffffff;
}

.green-background {
  background-color: #45b288;
  color: #fff;
}

.grey-background {
  background-color: #f2f2f2;
  color: #acacac;
}

.white-background {
  background-color: #ffffff;
}

.center {
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/*
 * Buttons
 */

button {
  cursor: pointer;
}

.button {
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.button.padded {
  padding: 12px 26px;
}

.green.border {
  border: 2px solid #45b288;
}

.grey.border {
  border: 2px solid #acacac;
}

.lighter-grey.border {
  border: 2px solid #e5e5e5;
}

.button.dropshadow {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
}

.button.dropdown-icon {
  position: relative;
  padding-right: 40px;
}

.button.dropdown-icon::after,
.button.dropdown-icon::before {
  position: absolute;
  right: 25px;
  margin-top: 1px;
}

.round {
  border-radius: 10px;
}

.rounder {
  border-radius: 32px;
}

.button.grey-background:hover {
  background: #45b288;
  color: #fff;
}

button.gradient-hover {
  position: relative;
  overflow: hidden;
  -webkit-transition: background-position 225ms ease-in-out;
  transition: background-position 225ms ease-in-out;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
  background-image: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-repeat: repeat-x;
  background-size: 200%;
  background-position: 0 -100%;
}

button.gradient-hover:hover {
  background-position: 0 100%;
}

.no-border {
  border: none !important;
}
/*
 * Icons
 */

.before[class*="icon"]::before,
.after[class*="icon"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.before.grey.grid-view-icon::before,
.after.grey.grid-view-icon::after {
  background-image: url(images/icons/grid-view-v2-grey-icon.svg);
}

.before.green.grid-view-icon::before,
.after.green.grid-view-icon::after {
  background-image: url(images/icons/grid-view-v2-green-icon.svg);
}

.before.grey.list-view-icon::before,
.after.grey.list-view-icon::after {
  background-image: url(images/icons/list-view-v1-grey-icon.svg);
}

.before.green.list-view-icon::before,
.after.green.list-view-icon::after {
  background-image: url(images/icons/list-view-v1-green-icon.svg);
}

.before.green.dropdown-icon::before,
.after.green.dropdown-icon::after {
  background-image: url(images/icons/dropdown-green-icon.svg);
}

.before.grey.dropdown-icon::before,
.after.grey.dropdown-icon::after {
  background-image: url(images/icons/dropdown-grey-icon.svg);
}

.before.black.search-icon::before,
.after.black.search-icon::after {
  background-image: url(images/icons/search-black-icon.svg);
}

.before.share-grey-icon::before,
.after.share-grey-icon::after {
  background-image: url(images/icons/share-grey-icon.svg);
}

.before.facebook-dark-green-icon::before,
.after.facebook-dark-green-icon::after {
  background-image: url(images/icons/facebook-dark-green-icon.svg);
}

.before.linkedin-dark-green-icon::before,
.after.linkedin-dark-green-icon::after {
  background-image: url(images/icons/linkedin-dark-green-icon.svg);
}

.before.twitter-dark-green-icon::before,
.after.twitter-dark-green-icon::after {
  background-image: url(images/icons/twitter-dark-green-icon.svg);
}

.before.email-dark-green-icon::before,
.after.email-dark-green-icon::after {
  background-image: url(images/icons/email-dark-green-icon.svg);
}


.before.share-green-icon::before,
.after.share-green-icon::after {
  background-image: url(images/icons/share-green-icon.svg);
}

.before.facebook-green-icon::before,
.after.facebook-green-icon::after {
  background-image: url(images/icons/facebook-green-icon.svg);
}

.before.linkedin-green-icon::before,
.after.linkedin-green-icon::after {
  background-image: url(images/icons/linkedin-green-icon.svg);
}

.before.twitter-green-icon::before,
.after.twitter-green-icon::after {
  background-image: url(images/icons/twitter-green-icon.svg);
}

.before.email-green-icon::before,
.after.email-green-icon::after {
  background-image: url(images/icons/email-green-icon.svg);
}

/*
 * Stage
 */

.stage {
  color: #fff;
  position: relative;
}

.stage .screen {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.55);
}

@media (max-width: 800px) {
  .stage .screen {
    background-color: rgba(33, 33, 33, 0.80);
  }
}

.stage .lock {
  position: relative;
  z-index: 10;
  padding-bottom: 60px;
}

.stage .narrow-text {
  margin: 0 auto;
}

.stage p {
  letter-spacing: 0.04em;
}

/*
 * Blog Controls
 */

.blog-controls {
  padding-top: 40px;
}

.blog-controls .row {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.blog-controls .cell {
  width: 100%;
  font-size: 18px;
}

.blog-controls .cell:last-child {
  order: -1;
  margin-bottom: 20px;
}


@media (min-width: 800px) {

  .blog-controls {
    padding-top: 60px;
  }

  .blog-controls .lock {
    padding-bottom: 40px;
  }

  .blog-controls .row {
    flex-flow: nowrap;
  }

  .blog-controls .cell {
    width: 50%;
  }

  .blog-controls .cell:last-child {
    order: 1;
    margin-bottom: 0px;
  }

}

.blog-controls .cell:last-child {
  text-align: right;
}

.blog-controls .grid-view-icon,
.blog-controls .list-view-icon {
  height: 52px;
}

.blog-controls .grid-view-icon::before {
  width: 30px;
  height: 30px;
  -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.blog-controls .list-view-icon::before {
  width: 31px;
  height: 31px;
  -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}


.blog-controls button {
  margin-right: 15px;
  vertical-align: middle;
}


.blog-controls #blog-search {
    border: 1px solid #cccccc;
    width: 100%;
    float: right;
}

@media (max-width: 960px) {
  .blog-controls .grid-view-icon,
  .blog-controls .list-view-icon {
    display: none;
  }
}


#blog-search-text,
#blog-search-submit {
  display: inline-block;
}


#blog-search-text {
  border: none;
  line-height: 52px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 20px;
  width: calc(100% - 65px);
}

#blog-search-submit {
  margin-right: 0;
  padding: 5px 15px;
  background-color: #fff;
  background-position: center 2px;
}

#blog-search-submit::before {
  width: 30px;
  height: 30px;
}

#blog-search-submit::before {
  opacity: 0.5;
}

#blog-search-submit:hover#blog-search-submit::before {
  opacity: 1.0;
}

.filter-categories {
  background-color: #fafafa;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: height 0.5s, padding 0.45s;
}

.filter-categories .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.filter-categories[data-state="closed"] {
  display: block;
  height: 0 !important;
  padding-top: 0 !important;
}


.filter-categories button {
  width: 140px;
  margin-bottom: 20px;
  margin-right: 0;
}

.dropdown-icon::after {
  top: 17px;
  -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.category-filter:hover.dropdown-icon::after {
  background-image: url(images/icons/dropdown-white-icon.svg);
}

.category-filter.green-background.dropdown-icon::after {
  background-image: url(images/icons/dropdown-white-icon.svg);
}

.category-filter.button:hover {
  background-color: #45b288;
  color: #fff;
}

@media(max-width:800px) {
  .category-filter.button {
    width: 100%;
  }
}

.dropdown-icon {
  position: relative;
}

.dropdown-icon::before,
.dropdown-icon::after {
  position: absolute;
  top: 16px;
  right: 35px;
}

@media (min-width: 480px) {

  .filter-categories button{
    width: 200px;
  }

}

@media (min-width: 800px) {

  .filter-categories button{
    width: auto;
  }

}


@media (min-width: 960px) {

  .filter-categories {
    text-align: left;
  }


  .filter-categories button{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

}

@media (max-width: 800px) {

  .filter-categories button:nth-child(2n + 1) {
    margin-right: 10px;
  }

  .filter-categories {
    padding-left:0 ;
    padding-right: 0;
  }

  .filter-categories button:last-child {
    margin-bottom: 0;
  }

}

@media (max-width: 480px){

  .filter-categories button {
    max-width: 150px;
  }

  .button.padded {
    padding: 12px;
  }

}

@media (max-width: 380px){

  .filter-categories .wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d2d2d2;
  }
  .filter-categories button {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #d2d2d2;
    max-width: none;
    margin: 0;
  }

  .filter-categories button:nth-child(2n + 1) {
    margin-right: 0px;
  }

  .filter-categories button:last-child {
    border-bottom: none;
  }

  .button.padded {
    padding: 12px;
  }

}

.post .inline-tags {
  line-height: 42px;
}

.inline-tags span {
  padding-right: 20px;
}

.inline-tags .button {
  text-decoration: none;
}

.inline-tags .button:hover {
  text-decoration: none;
}
